@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.text_gradient {
  background: linear-gradient(to right, rgb(245, 3, 213), rgba(255, 0, 76, 0.97));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
